web/WEB-INF/class/reg/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="reg">
    <xs:complexContent>
      <xs:extension base="httpServlet">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="httpServlet" abstract="true">
    <xs:complexContent>
      <xs:extension base="genericServlet">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="genericServlet" abstract="true">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

